/* logo color #4D5AE5 + #2E2F42 */
/* main colors #2E2F42 + #434455 */
/* white #FFFFFF */
/* accent color #404BBF */
/* footer colors #4D5AE5 + #F4F4FD */

:root {
  --primary-text-color: #434455;
  --title-text-color: #2e2f42;
  --main-logo-color: #4d5ae5;
  --footer-logo-color: #f4f4fd;
  --main-wtite-color: #ffffff;
  --button-accent-color: #404bbf;
  --button-back-color: #e7e9fc;
}

body {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  background-color: var(--main-wtite-color);
}

/* main page */
/* header */

.main-logo {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  line-height: 1.17;
  text-decoration: none;

  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.main-logo:hover,
.main-logo:focus {
  color: var(--main-logo-color);
}

.second-logo {
  color: var(--main-logo-color);
}

.main-nav {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  list-style-type: none;
}

.nav-link {
  color: var(--title-text-color);
  text-decoration: none;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--main-logo-color);
}

.main-address {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  list-style-type: none;
}

.address-link {
  color: var(--primary-text-color);
  text-decoration: none;
}
.address-link:hover,
.address-link:focus {
  color: var(--main-logo-color);
}

/* main */
/* hero */

.hero-section {
  background-color: var(--title-text-color);
}

.hero-text {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;

  text-align: center;
  color: var(--main-wtite-color);
}

.hero-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  font-family: inherit;

  letter-spacing: 0.04em;
  color: var(--main-wtite-color);
  background-color: var(--main-logo-color);
  cursor: pointer;
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--button-accent-color);
}

/* advantages */

.advantages-list {
  list-style-type: none;
}

.advantages-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.advantages-text {
  font-size: 16px;
  line-height: 1.5;

  color: var(--primary-text-color);
}

/* what are we doing */

.presentation-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;

  text-align: center;
  text-transform: capitalize;
}

.presentation-image {
  list-style-type: none;
}

/* our team */

.team-section {
  background-color: var(--footer-logo-color);
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;

  text-align: center;
  text-transform: capitalize;
}

.team-list {
  list-style-type: none;
}

.team-employee {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.team-position {
  font-size: 16px;
  line-height: 1.5;

  color: var(--primary-text-color);
}
/* footer */

.main-footer {
  background-color: var(--title-text-color);
}

.footer-logo {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  line-height: 1.17;
  text-decoration: none;

  letter-spacing: 0.03em;
  color: var(--footer-logo-color);
  text-decoration: none;
}

.footer-second {
  color: var(--main-logo-color);
  text-decoration: none;
}
.footer-logo:hover,
.footer-logo:focus {
  color: var(--main-logo-color);
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;

  color: var(--footer-logo-color);
}

/* portfolio */
.portfolio-list {
  list-style-type: none;
}
.portfolio-link {
  text-decoration: none;
}

.portfolio-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  font-family: inherit;

  letter-spacing: 0.04em;
  color: var(--main-logo-color);
  background-color: var(--button-back-color);
  cursor: pointer;
}
.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--main-wtite-color);
  background-color: var(--button-accent-color);
}

.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.5;

  color: var(--primary-text-color);
}
